.soru {
    font-size: 12px;
    color:#eb9e0a;
    padding: 10px;
    display: block;
}

.soru_siklari {
    font-size: 12px;
    padding: 0 5px !important;
    color: #777777;
}

.soru_label {
    width: 100%;
    display: block;
}