<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="ion-padding">
    <ion-item>
      <img src="https://i.imgyukle.com/2021/01/17/HEZSfj.png"/>
    </ion-item>
  </ion-list>


  <ion-list class="ion-padding">
    <ion-item>
      <ion-label color="primary" positin="floating">E-mail</ion-label>
      <ion-input type="email" [(ngModel)] = "email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" positin="floating">Şifre</ion-label>
      <ion-input type="password" [(ngModel)] = "password"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="tryLogin()"> GİRİŞ YAP</ion-button>
    <p style="text-align:center" class="registration-info">Aramıza Katılmak İster Misin ? </p>
    <p style="text-align:center"><code><span (click)="RegisterPage()">Kayıt Ol</span></code></p> 
    
  </ion-list>

</ion-content>
